<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Inicio</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="../js/script.js"></script>
    <script type="text/javascript" src="/index.js"></script>
</head>

<body>
    <div class="container-fluid background-color">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">

                    <div class="menu">
                        <ul>
                            <li><a href="#" class="active">Inicio</a></li>
                            <li><a href="retirar.html">Retirar</a></li>
                            <li><a href="tranferir.html">Transferir</a></li>
                            <li><a href="consignar.html">Consignar</a></li>
                            <li><a href="#" id="close">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="content">
                            <div class="footer">
                                <div class="footer-text-center">
                                    <p> <center>
                                        <h1 >¡BIENVENIDOS!</h1>
                                    </center></p>
                                    
                                </div>
                            </div>
                           


                            
                        </div>
                    </div>

                    <div class="footer">
                        <div class="footer-text-center">
                            <p>Copyright © ingenieria En Sistema (Electron.Js)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>