<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="../js/Banco.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
 <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <script type="text/javascript" src="/index.js"></script>
</head>

<body>
    <div class="container-fluid background-color">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">

                    <div class="menu">
                        <ul>
                            <li><a href="home.html">Inicio</a></li>
                            <li><a href="#" class="active">Retirar</a></li>
                            <li><a href="tranferir.html">Transferir</a></li>
                            <li><a href="consignar.html">Consignar</a></li>
                            <li><a href="#" id="close">Cerrar sesión</a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="content">
                            <div class="contenedor-form">
                                <form id="form-login">
                                    <center>
                                    <input type="text" id="userRetirar" placeholder="Dinero a Retirar" required>
                                    <input type="submit" id="submitRetirar" value="Retirar">
                                    </center>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>